body {
    width:100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: auto;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


table{width:100%;}
li{list-style-type: none;}
td{width:33%;vertical-align:top;padding:2px;}

#spread{
    width: 80%;
    padding: 8%;
    margin: auto;
}
#controls{
  width: 700px;
  padding-top: 8%;
  margin: auto; 
}

#controls{display: none;}
#send{padding:3%;background:#7c7c7c;color:#fff;}
#schoolareas{clear:both;}
#picu,#beach,#sav,#mount,#early,#primary,#secondary,#ward{width:150px;height:150px;float:left;margin:3px;}
#inputname,#inputage,#inputbed{padding:20px;font-size: 2em;}
#inputname{clear:both;width:84%;margin:5.6% 0% 2% 5%;}
#inputbed{float:right;}
#inputage{float:left;margin:0% 0% 2% 5%;}


.add{
  display:block;
  clear:both;
  margin: 0% auto 3% auto;
}
.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: #f00;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: none none dashed none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
.switch {
  margin:5%;
}
.input{
  clear:both;
}
