body {
    width:100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: auto;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
input{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 1%;
}
input[type=radio]{display: none;}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 1em;
}
input[type=radio]:checked + label::before {
    background-color: #ffa;
}
.radio-list + label::before {
    width: 1.5em;
    height: 1.5em;
}
.radio-ward + label::before {
    width: 1.5em;
    height: 1.5em;
}
table{width:100%;}
li{list-style-type: none;}
td{width:33%;vertical-align:top;padding:2px;}

#spread{
    width: 80%;
    padding: 8%;
    margin: auto;
}
#controls{
  width: 75%;
  padding: 8%;
  margin: auto; 
}

#controls{display: none;}
#send{padding:3%;background:#7c7c7c;color:#fff;}
#picu,#beach,#sav,#mount{width:150px;height:150px;float:left;margin:3px;}

.add{
  display:block;
  clear:both;
  margin: 0% auto 3% auto;
}
.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: #f00;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: none none dashed none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
.switch {
  margin:5%;
}
.input{
  clear:both;
}
